:root {
  --white: #fff;
  --black: #000;
  --primary-color: #3b82f6;
  --secondary-color: #f2f2f2;
  --text-color: #4b5563;
  --m-width: 1360px;
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--black);
}

p {
  color: var(--text-color);
}

.container {
  max-width: var(--m-width);
  margin: 0 auto;
  padding: 0 20px;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 24px;
  margin-bottom: 24px;
}

h1 {
  color: var(--white);
  font-size: 60px;
  line-height: 66.8px;
  font-weight: 500;
}

h2 {
  font-size: 48px;
}

.btn {
  color: var(--white);
  padding: 12px 30px;
  border-radius: 5px;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn:hover {
  background-color: var(--black);
  color: var(white);
  transition: 0.1 ease-in;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.header .nav ul {
  display: flex;
  align-items: center;
  gap: 60px;
}

.auth-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero-section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.hero-section .hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
  object-position: center;
}

.hero-section .container {
  width: 100%;
}

.hero-content {
  max-width: 422px;
  color: var(--white);
}

.best-seller {
  padding-top: 100px;
  padding-bottom: 100px;
}

.best-seller .seller-header {
  margin-bottom: 50px;
}

.best-seller .cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -30px;
}

.cards-container img {
  border-radius: 8px;
  margin-bottom: 20px;
}

.cards-container .card {
  width: 33.3%;
  padding: 0 30px;
}

.cards-container .card-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-contents h3 {
  color: var(--text-color);
}

.card-contents .highlight {
  color: var(--primary-color);
}

.deals-container {
  background: url(./Homepge_Desktop_Banner_EOS_PRO_II_WGP15V2S_6fab701f-418d-40f2-9226-947819a4449e.webp);
  width: 100%;
  height: 90vh;
  background-position: right;
  background-size: cover;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
}

.deals-container > .container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.deals-container .deals-contents {
  color: var(--white);
  margin-left: auto;
}

.deals-contents .details {
  max-width: 500px;
}

.footer {
  padding-top: 150px;
}

.footer .container {
  padding: 100px 0;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

.footer-col .strong {
  font-size: 18px;
  color: var(--black);
  margin-bottom: 30px;
}

.footer-col ul li{
  margin-bottom: 20px;
}

.footer-col ul li a {
  color: var(--text-color);
}

.footer .container .footer-col:nth-child(1){
  width: 40%;
  padding-right: 145px;
}

.footer .container .footer-col:nth-child(2){
  width: 30%;
  padding-right: 240px;
}

.footer .container .footer-col:nth-child(3){
  width: 30%;
  padding-right: 230px;
}

.footer-bottom{
  padding: 30px 0;
  text-align: center;
}
